{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "ignorePatterns": [".cache", "public"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
