{
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "ignorePatterns": [".cache", "public"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
